@import "/home/patitomora/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(33, 15, 5, 0.8);
    border-radius: 10px;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#custom-recording {
    background-color: @color1;
    padding: 0px 8px;
    margin: 1px 0px;
    color: @foreground;
    border-radius: 8px;
    transition: all 0.4s ease;
}

#workspaces {
    margin-left: 4px;
}

#battery {
    margin-right: 4px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    border-radius: 6px;
    transition: all 0.4s ease;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
}

#workspaces button.urgent {
    background-color: @color9;
}

#clock {
    font-weight: bold;
    background-color: @color2;
}

#battery.charging, #battery.plugged {
    background-color: @color10;
    color: @background;
}

#battery.critical:not(.charging),
#temperature.critical,
#custom-recording.recording {
    background-color: @color9;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: @color9;
}

#pulseaudio.muted {
    background-color: @color8;
}

#custom-recording.not-recording {
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: @color11;
        color: @background;
    }
}
